MONGODB_URI='mongodb+srv://ses_admin:12345678q@cluster0.nqz8h.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

NEXTAUTH_URL='http://localhost:3000'

NEXT_PUBLIC_NEXTAUTH_URL='http://localhost:3000'